body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  /*font-family: 'Martel Sans', sans-serif;*/
}

/* Nav */

#comp-name {
  Font-family: 'Rubik Glitch', cursive;
  font-weight: 400;
  font-size: 55px;
  margin: 40px 0px 0px 20px;
  display: inline-block;
  letter-spacing: 1.5px;
}

#make-blue {
  color: dodgerblue;
}

nav {
  text-align: right;
  padding: 30px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin-right: 40px;
  font-size: 30px;
  letter-spacing: 2px;
}

a:hover {
  color: dodgerblue;
}

/* About & Services */

#about-section {
  margin-top: 175px;
}

#about-icon,
#service-icon {
  width: 175px;
  display: inline;
}

#service-section,
#contact-section {
  margin-top: 100px;
}

/* Contact */

#contact-section {
  background-color: rgb(15, 22, 31);
  height: 60vh;
  text-align: center;
  color: white;
}

#contact-heading {
  margin-top: 40px;
}

form {
  color: white;
}

input {
  background-color: rgb(15, 22, 31);
  margin-top: 15px;
  color: white;
  width: 30%;
}

/* Footer */
footer {
  background-color: white;
  height: 12vh;
  display: flex;
  justify-content: left;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 100;
}

#copyright {
  font-size: 12px;
  margin: 0 10px;
}

#logo {
  border-radius: 50%;
}
