body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

/* Banner & Nav */

#banner-app {
  position: relative;
  z-index: 1;
}

.nav-link {
  position: relative;
  margin-top: -55%;
  z-index: 5;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

a:hover {
  color: dodgerblue;
}

#link-span {
  visibility: hidden;
}

#banner-h1 {
  position: relative;
  z-index: 5;
  color: white;
  margin-top: -10%;
}

span {
  color: dodgerblue;
  font-weight: 900;
}

.center-text {
  text-align: center;
}

/* About & Services */

#about-section {
  margin-top: 175px;
}

#about-icon,
#service-icon {
  width: 175px;
  display: inline;
}

#service-section,
#contact-section {
  margin-top: 100px;
}

/* Contact */

#contact-section {
  background-color: rgb(15, 22, 31);
  height: 60vh;
}
/* Footer */

footer {
  background-color: white;
  height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
  letter-spacing: 2px;
  font-weight: 100;
}

#copyright {
  font-size: 12px;
  margin: 0 10px;
}

#logo {
  border-radius: 50%;
}
