body {
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

#ioa-logo {
  width: 200px;
}

.nav-link {
  margin-top: 50px;
}

h1 {
  font-weight: 500;
  letter-spacing: 2.5px;
}

#site-banner {
  text-align: center;
}

#banner-h1 {
  position: relative;
  z-index: 5;
  color: white;
  margin-top: -10%;
}

#banner-app {
  position: relative;
  z-index: 1;
}

#about-section {
  margin-top: 250px;
}

#about-icon,
#service-icon {
  width: 175px;
  display: inline;
}

#service-section,
#contact-section {
  margin-top: 100px;
}

#contact-section {
  background-color: rgb(15, 22, 31);
  height: 60vh;
}

#footer-section {
  background-color: white;
  height: 10vh;
}
